/nbproject/private/
/build/
nbproject/project.properties
nbproject/private/private.properties
nbproject/genfiles.properties
nbproject/build-impl.xml
build/classes/headfuck/GUI.class
build/classes/headfuck/Function_File.class
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/project.properties
